<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Event Details</title>
</head>
<body>
<h1>Details van evenement</h1>

<p><strong>Titel:</strong> <span th:text="${event.title}"></span></p>
<p><strong>Beschrijving:</strong> <span th:text="${event.description}"></span></p>
<p><strong>Datum & tijd:</strong> <span th:text="${event.datetime}"></span></p>
<p><strong>Organisatie:</strong> <span th:text="${event.organization}"></span></p>
<p><strong>Contact e-mail:</strong> <span th:text="${event.contactEmail}"></span></p>

<p><strong>Locatie:</strong> <span th:text="${event.location.name}"></span></p>
<p><strong>Adres:</strong> <span th:text="${event.location.address}"></span></p>
<p><strong>Capaciteit:</strong> <span th:text="${event.location.capacity}"></span></p>

<br>
<a href="/"><button>Terug naar overzicht</button></a>
</body>
</html>
